@import './reset.css';
@import 'bootstrap';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.post-container {
  width: 50%;
}

.post-editor {
  padding: 30px;
  background-color: #e4f1ff;
}

.post-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: inline-block;

  margin: 10px 0;
  padding: 5px 5px;

  resize: vertical;
}

.post-content__card {
  margin: 0 30px;
}

.card-img {
  margin: 0 auto;

  width: 100%;
}

.file-upload__wrapper {
  position: relative;

  height: 100px;
  border: 1.2px dashed;
  border-radius: 5px;
  background-color: #d3d3d3;
}

.file-upload__text {
  position: absolute;

  top: 40px;
  left: 40%;
}

.file-upload {
  height: 100px;
  opacity: 0%;
}